<div class="container">
    <div class="social-login">
    <app-social-login></app-social-login>
    </div>
<!-- <button type="button" class="btn btn-danger">Danger</button> -->
    <div class="sepration">
        <hr> OR
        <hr>
    </div>
    <div class="login-form">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">email</label>
                <input [(ngModel)]="loginUserData.email" placeholder="Please enter your email" name="email" type="email"
                    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input [(ngModel)]="loginUserData.password" placeholder="Let me know your secret!" name="password"
                    type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button (click)="loginUser()" class="btn btn-success">Login</button>
        </form>
    </div>
</div>