.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 50vh;    
    margin-top: 9%;
    font-size: 18px;
    font-weight: 500;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    width: auto;
    max-width: 320px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin : 0 10%;
}

.social-login{
    background-color: orange;
    border-radius: 10px;
    margin: 0 5%;
}

.form-input{
    border-radius: 10px;
    margin: 10px;
}