<div class="social-login">
    <!-- <button class="btn" (click)="loginWithGoogle()">
        Login with google
    </button> -->
        <asl-google-signin-button type='icon' size='medium' (click)="loginWithGoogle()"></asl-google-signin-button>
    <!-- <asl-google-signin-button>Google</asl-google-signin-button> -->
    <!-- <div id="g_id_onload"
     data-client_id="1098504486677-6nh1ajb6116e71vnlpbthuh0n8pu86v3.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback={{loginWithGoogle}
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_black"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</div> -->