/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #080808;
    color: white;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}